// navbar
.navbar {
  img {
    width: 80px;
  }
  .item {
    &:last-child {
      margin-right: 0;
    }
    a {
      color: white;
      display: inline-block;
      padding: 25px 32px;
    }
  }
  .active, .item:hover{
    background-color: white;
    a {
      color: $primary;
    }
  }



  @media (max-width: 768px) {
    position: fixed;
    img {
      padding: 16px 0;
    }
    .menu {
      position: absolute;
      top: 100%;
      max-height: 0px;
      width: 100%;
      transition: all 0.5s;
      overflow: hidden;
    }
    .open{
      max-height: 112px;
      transition: all 0.5s;
    }

    .item {
      width: 50%;
      text-align: center;

      border: 1px solid $white;

      a {
        width: 100%;
        padding: 12px 0;
      }
    }
  }
}



// footer
.footer {
  padding: 48px 0 32px 0;

  &-navbar{
    padding-bottom: 32px;
    margin-bottom: 32px;
  }

  &-menu {
    margin: 12px 0 36px 0;
    li {
      margin-right: 48px;
    }
  }

  &-contact {
    span {
      font-size: 36px;
      margin-right: 16px;
    }
    a{
      margin-bottom: 16px;
    }
  }

  .media {
    li {
      margin-right: 32px;
    }
  }

  .copyright{
    li{
      margin-right: 48px;
    }
  }

  @media (max-width: 992px) {
    &-menu {
      margin-bottom: 32px;
    }
    .media {
      img {
        width: 40px;
      }
      li {
        margin-right: 16px;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 24px 0;

    &-navbar{
      padding-bottom: 24px;
      margin-bottom: 24px;
    }

    &-contact {
      span {
        font-size: 24px;
        margin-right: 8px;
      }
    }

    .media {
      img {
        width: 24px;
      }
      li {
        margin-right: 8px;
      }
    }

    .copyright{
      p,li{
        margin-bottom: 8px;
      }
    }
  }
}


// pagination
.pagination{
  a{
    color: $dark;
    padding: 12px 16px;
  }
  a:hover{
    background: #F2F2F2;
  }
  a:active, a:focus{
    background: #000;
    color: #fff;
  }
  .prevNext{
    padding: 11px 12px;
  }
}

