@import "./color";

.sub-navbar {
  margin-top: 80px;
  li {
    padding: 12px 0;
    margin-right: 48px;
    a {
      border-bottom: 1px solid transparent;
    }
  }

  li:hover {
    a {
      border-bottom: 1px solid #fff;
    }
  }

  span {
    font-size: 30px;
    cursor: pointer;
  }

  @media (max-width: 992px) {
    margin-top: 74px;
  }

  @media (max-width: 768px) {
    margin-top: 0;
  }
}

.blog {
  padding: 96px 0 80px 0;

  h2 {
    padding: 0 16px;
    margin-bottom: 32px;
    border-left: 8px solid $primary;
  }

  .item {
    margin-bottom: 60px;
  }

  .item:hover {
    .card-box::before {
      display: block;
    }
  }

  .card-box {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(white, 0),
        rgba($primary, 0.3)
      );
      display: none;
    }
  }

  .subtitle {
    margin-bottom: 16px;
  }

  @media (max-width: 992px) {
    padding: 80px 0;

    .subtitle {
      margin-bottom: 4px;
    }

    .item {
      margin-bottom: 24px;
    }

    .card-pic{
      height: 110%;
    }
  }

  @media (max-width: 768px) {
    padding: 40px 0 64px 0;

    h2 {
      margin-bottom: 24px;
    }
  }
}
