@import "./color";

.location{
  margin-top: 80px;
  padding: 96px 0 80px 0;

  h2{
    padding: 0 16px;
    margin-bottom: 32px;
    border-left: 8px solid $primary;
  }
  
  .field{
    margin-bottom: 40px;

    label{
      width: 40%;
      margin-right: 16px;
    }
  
    select{
      color: $dark;
    }
  }

  .card{
    margin-bottom: 48px;
  }

  .card:hover{
    .card-pic{
      transition: 0.5s;
      transform: scale(1.1, 1.1);
    }
    button{
      background-color: $primary;
    }
  }

  .card-pic{
    transition: 0.5s;
  }

  .card-body{
    
  h4{
      padding: 8px 24px;
    }

  .info{
    padding: 16px 24px;
  }

  li{
    margin-bottom: 8px;
  }

  span{
    padding: 4px;
    font-size: 24px;
    margin-right: 8px;
  }

  button{
    padding: 16px 0;
  }
  }






  @media (max-width:992px) {
    margin-top: 74px;
    padding: 80px 0;
    .card{
      margin-bottom: 24px;
    }
  }

  @media (max-width:768px) {
    margin-top: 80px;
    padding: 40px 0 64px 0;

    h2{
      margin-bottom: 24px;
    }

    .field{
      margin-bottom: 24px;
      label{
        width: 20%;
        margin-right: 8px;
      }
    }

  }
}